# @package _global_

defaults:
  - data: event_carla_nbin5_test # choose datamodule with `test_dataloader()` for evaluation
  - model: baseline_vae
  - metrics: default
#  - callbacks: specified_eval
#  - callbacks: eval_on_dataset
  - logger: null
  - trainer: gpu
  - paths: default
  - extras: default
  - hydra: default
   # optional local config for machine/user specific settings
   # it's optional since it doesn't need to exist and is excluded from version control
  - optional local: default
  - optional experiment: null
  - _self_

task_name: "eval"

tags: ["dev"]


#ckpt_path: /home/qd8/models/Event-WassDiff/2025-07-25_20-04-10/checkpoints/last.ckpt
#ckpt_path: /home/qd8/models/Event-WassDiff/2025-08-05_15-49-46/checkpoints/last.ckpt
ckpt_path: /home/qd8/models/Event-WassDiff/2025-08-06_16-28-54/checkpoints/last.ckpt
name: null

#### passing checkpoint path is necessary for evaluation
## WassDiff
#ckpt_path: ${local.model_root_dir}/WassDiff-LiT/2024-09-05_20-56-22/checkpoints/epoch_740.ckpt
#ckpt_path:${local.model_root_dir}/WassDiff-LiT/2024-09-11_12-07-58/checkpoints/epoch_679.ckpt
#ckpt_path: ${local.model_root_dir}/WassDiff-LiT/2024-09-11_12-07-58/checkpoints/epoch_740.ckpt
#ckpt_path: ${local.model_root_dir}/WassDiff-LiT/2024-09-11_12-07-58/checkpoints/last.ckpt
#ckpt_path: ${local.model_root_dir}/WassDiff-LiT/2024-09-15_23-56-41/checkpoints/epoch_802.ckpt
#ckpt_path: ${local.model_root_dir}/WassDiff-LiT/2024-09-23_13-17-17/checkpoints/epoch_1172.ckpt
#ckpt_path: ${local.model_root_dir}/WassDiff-LiT/2024-09-30_14-16-02/checkpoints/epoch_499_copy.ckpt
#ckpt_path: ${local.model_root_dir}/WassDiff-LiT/2024-10-02_13-40-41/checkpoints/epoch_294_step_1101.ckpt


# Model checkpoint path for evaluation
model:
#  num_samples: 1
  compile: false
#  display_sampling_pbar: false

# Data configuration is now provided by the experiment config

#### SPECIFY EVAL MODE ####
#name: debug_predefined_events_cold
#event_name: cold_front
#data:
#  dataloader_mode: specify_eval
#  batch_size: 1  # DO NOT MODIFY
#  data_config:
#    image_size: 256 # 512
#  specify_eval_targets: ${data.known_eval_targets.${event_name}}
##  specify_eval_targets:
##    - date: '20150618'
##      lon: 265
##      lat: 36
#paths:
#  output_dir: ${local.specified_eval_root_dir}/${name}
#  log_dir: ${paths.output_dir}

#paths:
#  output_dir: /home/qd8/eval
#  log_dir: /home/qd8/eval